/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar{
        height: 7.5vh;
    }

    .navbar-brand{
        padding-left: 5vw;
    }

    .firstIntroductionPage, .secondIntroductionPage{
        height: 85vw;
    }

    .footer{
        height: 25vh;
    }

    .firstIntroductionPage p{
        top: 40vw;
        left: 7vw;
        width: 40vw;
        font-size: 5vw;
    }

    .secondIntroductionPage p{
        top: 32vw;
        left: 55vw;
        width: 40vw;
        font-size: 2.5vw;
    }

    .desktopBlogs{
        display: none;
    }

    .cardDiv{
        position: relative;
        cursor: pointer;
        display: inline-block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #E6E6E6;
    }

    .cardDiv img {
        position: relative;
        height: 55vh;
    }

    .cardDiv p{
        position: relative;
        color: #404354;
    }

    .cardBlogTitle{
        top: 1.25vh;
        left: 0.5vw;
        font-size: 2.25vh;
    }

    .cardBlogDate{
        top: 0.25vh;
        left: 0.5vw;
        font-size: 2vh;
    }
}